<div class="card border-dark container" style="width: 700px; height: 600px;">
    <div class="card-body">
        <button class="btn btn-primary ml-2 mr-2" (click)="toggleHeatmap()">Toggle Heatmap</button>
        <button class="btn btn-primary ml-2 mr-2" (click)="changeGradient()">Change gradient</button>
        <button class="btn btn-primary ml-2 mr-2" (click)="changeRadius()">Change radius</button>
        <button class="btn btn-primary ml-2 mr-2" (click)="changeOpacity()">Change opacity</button>
      
      <div class = "mt-2 mb-2 map-container map container" id="map" style="width: 500px; height: 500px;">
    
      </div>
    </div>
</div>
